<header class="container">
    <nav class="navbar navbar-expand-lg py-4">
        <div class="container-fluid py-lg-8 border-bottom-lg px-lg-0">
            <h1 class="logo d-flex align-items-center me-lg-8 my-5 my-lg-0">
                <a href="index.html" target="_blank">LOGO</a>
            </h1>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <!-- <i class="bi bi-x close"></i> -->
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex me-auto position-relative my-6 my-lg-0">
                    <input class="form-control me-2 rounded-pill search-bar pe-10" placeholder="搜尋文章" aria-label="Search">
                    <button type="submit" class="btn text-secondary-200 position-absolute end-0  top-50 translate-middle me-5 p-0 border-0">
                        <i class="bi bi-search fs-4"></i>
                    </button>
                </form>
                <ul class="navbar-nav mb-2 mb-lg-0 gap-6 gap-lg-5 mb-9 me-lg-5">
                    <li class="nav-item">
                        <a class="nav-link p-3 px-lg-5 py-lg-1 text-nowrap" href="article.html" target="_blank">所有文章</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-3 px-lg-5 py-lg-1 text-nowrap" href="subscribe.html" target="_blank">訂閱方案</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-3 px-lg-5 py-lg-1 text-nowrap" href="about.html" target="_blank">關於我們</a>
                    </li>
                </ul>
                <div>
                    <a href="login.html" class="btn btn-custom btn-custom-primary text-nowrap w-100" target="_blank">登入 / 註冊</a>
                </div>
            </div>
        </div>
    </nav>
</header>