.logo{
  width: 96px;
  height: 28px;
  a{
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    @include hide-text;
  }
}

.search-bar{
  &:focus{
    border-color: $accent-200;
    box-shadow: 0 0 0 0.25rem rgba(86, 149, 115, 0.25);
  }
}


@include media-breakpoint-up(lg) {
  .border-bottom-lg{
    border-bottom: 1px solid $gray-500;
  }
}

// 關閉 ICON，待補上
.close{
  font-size: 30px;
  vertical-align: middle;
}