// 區塊：關於我們

.about-card-body{
    padding: 0 12px;
}
@include media-breakpoint-up(lg) {
    .about-card-body{
        padding: 0 40px;
    }
}
.about-card-subtitle{
    font-size: 16px;
    font-weight: bold;
    color: $gray-900;
    line-height: 1.75;
    letter-spacing: 0.05em
}
.brand-value{
    list-style-type: disc;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.about-card-img{
    min-height: 200px;
    border-radius: 8px;
}
@include media-breakpoint-up(md) {
    .about-card-img{
        min-height: 390px;
    }
}

// 區塊：大事紀
.event-year{
    font-family: "Newsreader";
    color: $gray-100;
    background-color: $primary-400;
    padding: 12px;
    font-weight: bold;
    width: fit-content;
}
@include media-breakpoint-up(md) {
    .event-year{
        font-size: 24px;
    }
}
.event-month{
    font-family: "Newsreader";
    font-size: 16px;
    color: $gray-600;
    font-weight: bold;
    text-wrap: nowrap;
    width: 50px;
}
@include media-breakpoint-up(md) {
    .event-month{
        font-size: 24px;
        width: 64px;
    }
}
.event-content{
    color: #09090B;
    padding-left: 12px;
    border-left: 1px solid $gray-500;
}
@include media-breakpoint-up(md) {
    .event-content{
        color: #09090B;
        padding-left: 16x;
    }
}