.checkout-success-content{
    margin-top: 60px;
    margin-bottom: 60px;
}
@include media-breakpoint-up(lg) {
    .checkout-success-content{
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

.bi-check2-circle{
    font-size: 24px;
}
@include media-breakpoint-up(lg) {
    .bi-check2-circle{
        font-size: 48px;
    }
}
.bill-info{
    color: #09090B;
    font-weight: bolder;
}
.bill-item{
    color: $gray-600;
    font-weight: bold;
    letter-spacing: 0.1em;
}