// 註冊 & 登入共用 scss

.login-deco{
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: $gray-200;
    margin: auto 0;
}

.socail-login{
    color: #52525B;
}

.is-member{
    color: #212121;
}

