.subscribe-breadcrumb{
    margin-bottom: 8px;
}
@include media-breakpoint-up(lg) {
    .subscribe-breadcrumb{
        margin-bottom: 20px;
    }
}

// Tab 按鈕
.plan-tab{
    margin-left: 0;
    margin-right: 0;
}
@include media-breakpoint-up(lg) {
    .plan-tab{
        margin-left: -12px;
        margin-right: -12px;
    }
}

.nav-pills{
    .plan-tab-link{
        border-radius: 0;
        text-align: center;
        font-weight: bold;
        &.active{
            background-color: $accent-200;
        }
        &:not(.active):hover{   // 在非 active 狀態下才有 hover 效果
            color: $accent-200;
        }
        &:not(.active):focus{
            color: $accent-200;
        }
    }
} 
.plan-tab-link{
    color: $gray-600;
    padding: 12px 20px;
}


.plan-card{
    .card{
        border: 1px solid $primary-300;
        background-color: #fff;
    }
}
.recommended-card{
    .card{
        border: 2px solid $accent-200;
        background-color: #fff;
    }
}



.plan-price{
    color: #52525B;
}
.plan-price-unit{
    color: #A1A1AA;
}
.plan-price-origin{
    line-height: 1.09;
}

.plan-content{
    gap: 28px;
    li{
        letter-spacing: 0.1em;
    }
}
@include media-breakpoint-up(lg) {
    .plan-content{
        gap: 24px;
    }
}