<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>結帳頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container my-13 my-lg-17">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="d-flex justify-content-center align-items-center text-secondary-200 mb-7 mb-lg-11">
            <i class="bi bi-check2-circle fs-7 fs-lg-2 me-3 me-lg-5"></i>
            <h2 class="fs-6 fs-lg-3 fw-bolder">付款成功</h2>
          </div> 
          <form action="checkout-success.html" class="form-custom form-custom-checkout">
            <div>
              <h3 class="fs-lg-7 fs-9 bill-info mb-7">訂購資訊</h3>
              <div class="py-7 border-top-custom-light border-bottom-custom-light">
                <div class="mb-7 mb-lg-11">
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <h4 class="product-info">輕量型方案</h4>
                    <span class="product-info">NT 1,188</span>
                  </div>
                  <p class="payment-cycle">年繳</p>
                </div>
                <div class="bill-item d-flex justify-content-between align-items-center mb-5">
                  <p>開始日</p>
                  <span>2024 / 5 / 1</span>
                </div>
                <div class="bill-item d-flex justify-content-between align-items-center">
                  <p>終止日</p>
                  <span>2025 / 5 / 1</span>
                </div>
              </div>
            </div>
            <a href="article.html" class="btn btn-custom btn-custom-primary">
              <span class="fs-md-9">瀏覽文章</span>
              <i class="bi bi-arrow-right fs-9 fs-md-7 ms-3"></i>  
            </a>
          </form>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
