<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>訂閱方案</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container mt-5 mb-13 my-lg-17">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb subscribe-breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
          <li class="breadcrumb-item active" aria-current="page">訂閱方案</li>
        </ol>
      </nav>
      <h2 class="fs-6 fs-lg-3 mb-11 mb-lg-13">訂閱方案</h2>
      <ul class="row nav nav-pills justify-content-center plan-tab mb-7 mb-lg-11">
        <li class="col-lg-2 col-6 nav-item px-0 px-lg-4">
          <a class="nav-link plan-tab-link active" aria-current="page" href="#">年繳</a>
        </li>
        <li class="col-lg-2 col-6 nav-item px-0 px-lg-4">
          <a class="nav-link plan-tab-link" href="#">月繳</a>
        </li>
      </ul>
      <div class="row">
        <div class="col-lg-4 mb-7 mb-lg-0">
          <div class="plan-card h-100">
            <div class="card h-100">
              <div class="card-body p-7 p-lg-11 d-flex flex-column">
                <div class="d-flex flex-column align-items-center gap-5 mb-10 mb-lg-13">
                  <h5 class="card-title fs-10 fs-lg-9 mb-5 text-gray-400">輕量型</h5>
                  <div class="pb-lg-11">
                    <span class="plan-price fs-4 fs-lg-3 fw-bold text-gray-400">NT 99</span><span class="plan-price-unit fs-9 fs-lg-7 fw-bolder text-gray-400">/ 月</span>
                  </div>
                </div>
                <ul class="text-gray-400 plan-content d-flex flex-column">
                  <li class="d-flex align-items-center fs-10 fs-lg-9 fw-bold">
                    <i class="fs-9 fs-lg-7 bi bi-check-square-fill me-1"></i>
                    <p>每月最新文章無限閱讀</p>
                  </li>
                  <li class="d-flex align-items-center fs-10 fs-lg-9 fw-bold">
                    <i class="fs-9 fs-lg-7 bi bi-check-square-fill me-1"></i>
                    <p>專屬會員限定內容</p>
                  </li>
                  <li class="d-flex align-items-center fs-10 fs-lg-9 fw-bold">
                    <i class="fs-9 fs-lg-7 bi bi-check-square-fill me-1"></i>
                    <p>定期電子報</p>
                  </li>
                </ul>
                <a href="checkout.html" class="btn btn-custom btn-custom-light mt-lg-auto mt-13">
                  <span class="fs-md-9">我要訂閱</span>
                  <i class="bi bi-arrow-right fs-9 fs-md-7 ms-3"></i>  
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-7 mb-lg-0">
          <div class="plan-card h-100">
            <div class="card h-100">
              <div class="card-body p-7 p-lg-11 d-flex flex-column">
                <div class="d-flex flex-column align-items-center gap-5 mb-10 mb-lg-13">
                  <h5 class="card-title fs-10 fs-lg-9 mb-5 text-gray-400">玩咖型</h5>
                  <div class="pb-lg-11">
                    <span class="plan-price fs-4 fs-lg-3 fw-bold text-gray-400">NT 159</span><span class="plan-price-unit fs-9 fs-lg-7 fw-bolder text-gray-400">/ 月</span>
                  </div>
                </div>
                <ul class="text-gray-400 plan-content d-flex flex-column">
                  <li class="d-flex align-items-center fs-10 fs-lg-9 fw-bold">
                    <i class="fs-9 fs-lg-7 bi bi-check-square-fill me-1"></i>
                    <p>每月最新文章無限閱讀</p>
                  </li>
                  <li class="d-flex align-items-center fs-10 fs-lg-9 fw-bold">
                    <i class="fs-9 fs-lg-7 bi bi-check-square-fill me-1"></i>
                    <p>專屬會員限定內容</p>
                  </li>
                  <li class="d-flex align-items-center fs-10 fs-lg-9 fw-bold">
                    <i class="fs-9 fs-lg-7 bi bi-check-square-fill me-1"></i>
                    <p>定期電子報</p>
                  </li>
                  <li class="d-flex align-items-center fs-10 fs-lg-9 fw-bold">
                    <i class="fs-9 fs-lg-7 bi bi-check-square-fill me-1"></i>
                    <p>年度精選禮物</p>
                  </li>
                </ul>
                <a href="checkout.html" class="btn btn-custom btn-custom-light mt-lg-auto mt-13">
                  <span class="fs-md-9">我要訂閱</span>
                  <i class="bi bi-arrow-right fs-9 fs-md-7 ms-3"></i>  
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="recommended-card">
            <div class="card h-100">
              <div class="card-body p-7 p-lg-11 d-flex flex-column">
                <div class="d-flex flex-column align-items-center gap-5 mb-10 mb-lg-13">
                  <h5 class="card-title fs-10 fs-lg-9 mb-5 text-primary-400">家庭型</h5>
                  <div>
                    <span class="plan-price fs-4 fs-lg-3 fw-bold text-secondary-200">NT 599</span><span class="plan-price-unit fs-9 fs-lg-7 fw-bolder text-gray-300">/ 月</span>
                  </div>
                  <del class="plan-price-origin fs-9 fs-lg-8 text-gray-300">NT 899</del>
                </div>
                <ul class="plan-content d-flex flex-column">
                  <li class="d-flex align-items-center fs-10 fs-lg-9 fw-bold">
                    <i class="fs-9 fs-lg-7 bi bi-check-square-fill me-1"></i>
                    <p>每月最新文章無限閱讀</p>
                  </li>
                  <li class="d-flex align-items-center fs-10 fs-lg-9 fw-bold">
                    <i class="fs-9 fs-lg-7 bi bi-check-square-fill me-1"></i>
                    <p>專屬會員限定內容</p>
                  </li>
                  <li class="d-flex align-items-center fs-10 fs-lg-9 fw-bold">
                    <i class="fs-9 fs-lg-7 bi bi-check-square-fill me-1"></i>
                    <p>定期電子報</p>
                  </li>
                  <li class="d-flex align-items-center fs-10 fs-lg-9 fw-bold">
                    <i class="fs-9 fs-lg-7 bi bi-check-square-fill me-1"></i>
                    <p>年度精選禮物</p>
                  </li>
                  <li class="d-flex align-items-center fs-10 fs-lg-9 fw-bold">
                    <i class="fs-9 fs-lg-7 bi bi-check-square-fill me-1"></i>
                    <p>24/7 優先客戶服務</p>
                  </li>
                  <li class="d-flex align-items-start fs-10 fs-lg-9 fw-bold">
                    <i class="fs-9 fs-lg-7 bi bi-check-square-fill me-1"></i>
                    <p>為每個成員量身打造專屬行程</p>
                  </li>
                  <li class="d-flex align-items-center fs-10 fs-lg-9 fw-bold">
                    <i class="fs-9 fs-lg-7 bi bi-check-square-fill me-1"></i>
                    <p>最多 5 個家庭成員共享</p>
                  </li>
                </ul>
                <a href="checkout.html" class="btn btn-custom btn-custom-primary mt-13">
                  <span class="fs-md-9">我要訂閱</span>
                  <i class="bi bi-arrow-right fs-9 fs-md-7 ms-3"></i>  
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
